@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  /* @apply bg-white dark:bg-gray-950; */

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #4cbb17;
  --color-primary-dark: #169400;
  --color-player1: #ff5722;
  --color-player2: #2196f3;
  --color-failed: #1f2937;
}

@layer utilities {
  .clip-hexagon {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }
}

/*

#4cbb17
#169400
*/
